body{
  padding-top: 60px;
}

@media only screen and (min-width: 768px) and (orientation: landscape){

  ul.nav{
    text-align: right;
  }

  ul.nav li{
    display: inline-block;
    line-height: 30px;
  }
  
}
